@use "../../../theme" as *;

.body-editor {
	width: 80vw;
	min-height: 40vh;
	border: fg() $xt dashed;
	padding: $m;
	margin: $l;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
