@use "../../theme" as *;

.__viewer__.__ {
	outline: none;

	font-weight: 400;
	font-style: normal;

	.__ {
		font-weight: inherit;
		font-style: inherit;
	}
	.b {
		font-weight: $bold;
		font-style: inherit;
	}
	.c {
		font-weight: inherit;
		font-style: italic;
	}
	.t {
		user-select: none;
	}
}
