$green: #344e41;
$green_ac: #79bf7c;
$green_lt: #b7da6b;
$green_lt_ac: #47894e;
$brown: #944a1a;
$brwon_ac: #ffd4ab;
$orange: #f57f72;
$orange_ac: #ce125c;
$purple: #3d1144;
$purple_ac: #bc4e82;

@function bg() {
	@return var(--color-bg);
}

@function bg-ac() {
	@return var(--color-bg-ac);
}

@function fg() {
	@return var(--color-fg);
}

@function fg-ac() {
	@return var(--color-fg-ac);
}
